<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Balanced Budgets{% block title %}{% endblock %}</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/styles.css')}}" />

  </head>
<body>
  <header>
    {% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}">Balanced Budgets</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('dashboard') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('budget') }}">Budget</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('goals') }}">Reports</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-primary" href="{{ url_for('signup') }}">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% endblock %}
  </header>
</body>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
        {% if category == 'message' %}
          <div class="alert alert-success text-center" role="alert">
        {% else %}
          <div class="alert alert-{{ category }} text-center" role="alert">
        {% endif %}
          {{ message }}
        </div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% block body %}
{% endblock %}

{% block footer %}
<!-- insert footer block here -->
<footer class="bg-success text-white py-3">
  <div class="container text-center">
    &copy; 2024 Balanced Budgets. All rights reserved.
  </div>
</footer>
{% endblock %}

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
  ></script>
</html>
