{% extends "base.html" %}

{% block title %} {% endblock %}
{% block body%}
<div class="container-dashboard-outer">
    <div class="container-dashboard">
        <h1 class="header" style="text-align: center; margin-bottom: 20px;">Budgeting Dashboard</h1>
        <div class="stats" style="display: flex; justify-content: space-around; margin-bottom: 20px;">
            <div class="stats-box">
                <h2>50% Needs</h2>
                <p>Allocate 50% of your income for essentials like housing, utilities, groceries, etc.</p>
            </div>
            <div class="stats-box">
                <h2>30% Wants</h2>
                <p>Use 30% of your income for non-essential items like dining out, entertainment, shopping, etc.</p>
            </div>
            <div class="stats-box">
                <h2>20% Savings</h2>
                <p>Save 20% of your income for financial goals, emergency fund, retirement, etc.</p>
            </div>
        </div>
        <div class="details">
            <h2>Why Use a 50/30/20 Budget Plan?</h2>
            <p>A 50/30/20 budget plan is a simple and effective way to manage your finances. It helps you prioritize
                your spending and savings goals, ensuring that you cover your essential needs, enjoy some discretionary
                spending, and save for the future.</p>
            <p>By following this budgeting strategy, you can achieve better financial stability, reduce stress about
                money, and work towards your long-term financial objectives.</p>
            <p>Start using the 50/30/20 budget plan today and take control of your finances!</p>
        </div>
    </div>
</div>
{% endblock %}