{% extends "base.html" %}

{% block title %} - Forgot Password - Questions{% endblock %}
{% block body%}
<section class="" style="background-color: #eee; height: 88vh;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">

              <h1 class="text-center text-success mb-4">Password Reset</h1>
              <h3 class="text-center mb-4">Please answer your Security Questions</h3>

              <div style="width: 80%; margin: auto;">
                <form action="#" method="post">
                {% if recoveryQuestions %}
                  <!-- Question 1 -->
                  <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="question1">{{ recoveryQuestions[0] }}</label>
                    <input name="question1" type="text" id="question1" class="form-control" />
                  </div>
                  <!-- Question 2 -->
                  <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="question2">{{ recoveryQuestions[1] }}</label>
                    <input name="question2" type="text" id="question2" class="form-control" />
                  </div>
                {% endif %}
                    
                  <!-- 2 column grid layout for inline styling -->
                  <div class="row mb-4">
                    <div class="col d-flex">
                      <!-- Submit Button -->
                      <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Recover Password</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}