{% extends "base.html" %}

{% block title %} {% endblock %}
{% block body%}
<div class="container">
    <h1 style="text-align: center;">Let's See How You're Doing</h1>
    {{ rmpc_graph | safe}}
</div>
<div class="container">
    <div class="row row-cols-3">
        <div class="col">
            {{ lqpc_graph | safe}}
        </div>
        <div class="col">
            {{ lypc_graph | safe}}
        </div>
        <div class="col">
            {{ ltpc_graph | safe}}
        </div>
    </div>
</div>
<div class="container">
    {{ linegraph_graph | safe}}
</div>
{% endblock %}