{% extends "base.html" %}

{% block title%}TITLE{% endblock %}

{% block body %}
    <div class="container">
      <div class="row row-cols-3">
        <div class="col">
          <div class="card">
            <img src="{{url_for('static', filename='50percent.png')}}" class="card-img-top"  alt="Large building">
            <div class="card-body">
              <h5 class="card-title">50%</h5>
              <p class="card-text">50% of your monthly income should go to...</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="{{url_for('static', filename='30percent.png')}}" class="card-img-top"  alt="Large building">
            <div class="card-body">
              <h5 class="card-title">30%</h5>
              <p class="card-text">30% of your monthly income should go to...</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="{{url_for('static', filename='20percent.png')}}" class="card-img-top"  alt="Large building">
            <div class="card-body">
              <h5 class="card-title">20%</h5>
              <p class="card-text">20% of your monthly income should go to...</p>
            </div>
          </div>
        </div>
        </div>
      </div>
      <div class="row align-items-center justify-content-center">
        <div class="col-sm-4">
          <form style="border: 2px solid black; padding-left: 20px; padding-right: 20px; padding-top: 10px;">
            <div class="mb-3" style="text-align: left;">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="border: 1px solid black; background-color: blanchedalmond;">
            </div>
            <div class="mb-3" style="text-align: left;">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" style="border: 1px solid black; background-color: blanchedalmond;">
            </div>
            <button type="submit" class="btn btn-primary" style="background-color: #ffd700;">Login</button>
            <div class="mb-3 form-check;" style="padding-top: 5px;">
              <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#">
                Forgot Password?
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="./index.js"></script>
{% endblock %}