{% extends "base.html" %}

{% block title %} - Forgot Password - New Password{% endblock %}
{% block body%}
<section class="" style="background-color: #eee; height: 88vh;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">

              <h1 class="text-center text-success mb-4">Password Reset</h1>
              <h3 class="text-center mb-4">Please Enter a New Password</h3>

              <div style="width: 80%; margin: auto;">
                <form action="#" method="post">
                    
                  <!-- New Password -->
                  <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="newPassword">Please Enter a New Password</label>
                    <input name="newPassword" type="password" id="newPassword" class="form-control" />
                  </div>

                  <!-- Confirm Password -->
                  <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="confirmPassword">Please Reenter your New Password</label>
                    <input name="confirmPassword" type="password" id="confirmPassword" class="form-control" />
                  </div>
                    
                  <!-- Submit Button -->
                  <div class="row mb-4">
                    <div class="col d-flex">
                      <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Reset Password</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
